<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso o gasto</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Concepto</th>
              <th>Importe</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Concepto</td>
              <td>Importe</td>
              <td>Tipo</td>
              <td>acciones</td>
            </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>